* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #121212; /* New background color */
  color: #eeeeee;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(18, 18, 18, 0.8),
    rgba(18, 18, 18, 1)
  );
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 300px;
  padding: 12px 18px;
  border: none;
  outline: none;
  background-color: rgba(18, 18, 18, 0.4);
  border-radius: 20px;
  border-bottom: 3px solid #df8e00;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #eeeeee;
}

header input:focus {
  background-color: rgba(18, 18, 18, 0.8);
}

main {
  flex: 1 1 100%;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  justify-items: center;
  text-align: center;
}

.location .city {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 5px;
}

.location .date {
  font-size: 18px;
  font-weight: 300;
}

.current .temp {
  font-size: 96px;
  font-weight: 900;
  margin: 20px 0;
  text-shadow: 2px 8px rgba(0, 0, 0, 0.5);
}

.current .temp span {
  font-weight: 200;
}

.current .weather {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  .current .temp {
    font-size: 120px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 60px 15px 20px;
  }

  header input {
    max-width: 400px;
    padding: 15px 20px;
    font-size: 22px;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .location .city {
    font-size: 42px;
  }

  .current .temp {
    font-size: 144px;
  }
}
